.container-loading {
    display: grid;
    justify-content: center;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loading-spinner div {
    box-sizing: border-box !important;
}

.loading-spinner>div {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 60px;
    left: 60px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #bebebe transparent #bebebe transparent;
    animation: loading-spinner 0.8s linear infinite;
}

.loading-spinner>div:nth-child(2) {
    border-color: transparent
}

.loading-spinner>div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.loading-spinner>div:nth-child(2) div:before,
.loading-spinner>div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 28px;
    border-radius: 50%;
    box-shadow: 0 72px 0 0 #bebebe;
}

.loading-spinner>div:nth-child(2) div:after {
    left: -8px;
    top: 28px;
    box-shadow: 72px 0 0 0 #bebebe;
}

.loading {
    width: 15rem;
    height: 15rem;
    display: inline-block;
    overflow: hidden;
}

.loading-spinner {
    width: 100%;
    height: 100%;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.loading-spinner div {
    box-sizing: content-box;
}